body {
    background-color: black;   
}

/*This is the style for our boxs' container. With it we can position and center the boxes in the browser.*/

#instrument {
    height: 116px;
    width: 812px;
    padding-right: 10px;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/*This is the style that give our music boxes shape*/

.box {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

/*These are the styles that individually color our boxes and also determine the hover and active states*/

#c:hover img {
  background-color:#661920;
  cursor: pointer;
  opacity: 1;
  top: 1px;
  
}
#c img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#c:active {
    background-color:#db1d2d;   
}

#c {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
}


#d:hover img {
  background-color:#6e2819;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#d img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#d:active {
    background-color:#f0421c;   
}

#d {
    background-color: #422018;
    border: 3px solid #f0421c;
}


#e:hover img {
  background-color:#735b20;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#e img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#e:active {
    background-color:#fec02d;   
}

#e {
    background-color: #45391b;
    border: 3px solid #fec02d;
}


#f:hover img {
  background-color:#1b613b;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#f img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#f:active {
    background-color:#20d071;   
}

#f {
    background-color: #193c29;
    border: 3px solid #20d071;
}


#g:hover img {
  background-color:#184d65;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#g img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#g:active {
    background-color:#1a9ddb;   
}

#g {
    background-color: #18323e;
    border: 3px solid #1a9ddb;
}


#a:hover img {
  background-color:#4e2753;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#a img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#a:active {
    background-color:#a13fad;   
}

#a {
    background-color: #331f35;
    border: 3px solid #a13fad;
} 


#b:hover img {
  background-color:#6f3a62;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#b img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#b:active {
    background-color:#f26fd4;   
}

#b {
    background-color: #43293d;
    border: 3px solid #f26fd4;
}


#C:hover img {
  background-color:#661920;
  cursor: pointer;
  opacity: 1;
  top: 1px;
  
}
#C img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#C:active {
  background-color:#db1d2d;   
}

#C {
  background-color: #3e181b;
  border: 3px solid #db1d2d;
}



#D:hover img {
  background-color:#6e2819;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#D img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#D:active {
  background-color:#f0421c;   
}

#D {
  background-color: #422018;
  border: 3px solid #f0421c;
}


#E:hover img {
  background-color:#735b20;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#E img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#E:active {
  background-color:#fec02d;   
}

#E {
  background-color: #45391b;
  border: 3px solid #fec02d;
}


#F:hover img {
  background-color:#1b613b;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#F img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#F:active {
  background-color:#20d071;   
}

#F {
  background-color: #193c29;
  border: 3px solid #20d071;
}


#G:hover img {
  background-color:#184d65;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#G img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#G:active {
  background-color:#1a9ddb;   
}

#G {
  background-color: #18323e;
  border: 3px solid #1a9ddb;
}


#A:hover img {
  background-color:#4e2753;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#A img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#A:active {
  background-color:#a13fad;   
}

#A {
  background-color: #331f35;
  border: 3px solid #a13fad;
} 


#B:hover img {
  background-color:#6f3a62;
  cursor: pointer;
  opacity: 1;
  top: 1px;
}

#B img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#B:active {
  background-color:#f26fd4;   
}

#B {
  background-color: #43293d;
  border: 3px solid #f26fd4;
}


#Cc:hover img {
  background-color:#661920;
  cursor: pointer;
  opacity: 1;
  top: 1px;
  
}
#Cc img {
  position: relative;
  opacity: 0;
  width: 100px;
  height: 100px;
  left: 0;
  top: -1px;
  transition: opacity .5s, top .5s;
}

#Cc:active {
  background-color:#db1d2d;   
}

#Cc {
  background-color: #3e181b;
  border: 3px solid #db1d2d;
}
